<div class='card-columns'>
    <!-- <div class='row'> -->
        <div class='card' *ngFor="let dog of dogs">
            <div class="card-body">
                <h5 class="card-title text-center">{{dog.name}}</h5>
                <div class='card-image'>
                  <img class="" src="../../assets/images/shibe.gif">
                </div>

                <div class='button-group'>
                    <button type="button" class="btn btn-primary like-button">Like</button>
                    <button type="button" class="btn btn-primary fav-button">Favorite</button>
                </div>

                <!-- <img class="" src={{dog.thumbnail}}> -->
                <!-- <p class="card-text"></p> -->
              </div>
        </div>
    <!-- </div> -->
</div>

<!-- <div class="btn-group" role="group" aria-label="Basic example">
  <button type="button" class="btn btn-secondary">Left</button>
  <button type="button" class="btn btn-secondary">Middle</button>
  <button type="button" class="btn btn-secondary">Right</button>
</div> -->